<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charaset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>覚えた単語</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
</head>
<body>
    <a href="/admin">カレンダー</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">種別</th>
                <th scope="col">単語</th>
                <th scope="col">意味</th>
                <th scope="col">意味(変更前)</th>
                <th scope="col">時間</th>
                <th scope="col">ツイート</th>
                <th scope="col">IP</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <form action = /admin/{{date.year}}/{{date.month}}/{{date.day}} method = "POST">
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ item.action }}</td>
                    <td>{{ item.word }}</td>
                    <td>{{ item.mean }}</td>
                    <td>{{ item.pre_mean }}</td>
                    <td>{{ item.created_at }}</td>
                    <td>{{ item.tweet_state }}</td>
                    <td>{{ item.ip_address }}</td>
                    <td>
                        <input type="hidden" name="id" value={{item.id}}>
                        <button type = "submit" class="btn btn-primary" name = "action" value = 'ip_watch'>同一IP</button>
                        {% if item.tweet_state == "tweet" %}
                            <button type = "submit" class="btn btn-warning" name = "action" value = 'delete_tweet'>ツイート削除</button>
                        {% else %}
                            <button type = "submit" class="btn btn-warning" name = "action" value = 'delete_tweet' disabled>ツイート削除</button>
                        {% endif %}
                        <button type = "submit" class="btn btn-Danger" name = "action" value = 'ip_restriction'>IP制限</button>
                    </td>
                </tr>
            </form>
            {% endfor %}
        </tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>