{% extends "base.html" %}

{% block nav_log %}active{% endblock %}

{% block content %}

    <div class="d-flex flex-row">
        <a href="/admin/log/calendar">カレンダー</a>
        <form action = /admin/log/teach method = "POST">
            <input type="hidden" name="day" value={{date.day}}>
            <input type="hidden" name="month" value={{date.month}}>
            <input type="hidden" name="year" value={{date.year}}>
            <input type="hidden" name="selsected_items" value="">
            <button type="submit" class="btn btn-primary" name="action" value="">更新</button>
        </form>
    </div>

    {% set captions = ['種別', '単語', '意味', '意味(変更前)', '意味(現在)', '時間', 'ツイート1', 'ツイート2', 'IP', 'session'] %}

    {% for caption in captions %}
    <div class="form-check-inline">
        <label class="form-check-label" for="flexCheckChecked{{loop.index}}">
            <input class="form-check-input" type="checkbox" value="" onchange="myfunc(this.checked, '{{loop.index}}')" id="flexCheckChecked{{loop.index}}" checked>
            {{ caption }}
        </label>
    </div>
    {% endfor %}


    <form action = /admin/log/teach method = "POST" enctype="multipart/form-data" onsubmit="doPreSubmit()">
        <input type="hidden" id= "form_day" name="day" value={{date.day}}>
        <input type="hidden" id= "form_month" name="month" value={{date.month}}>
        <input type="hidden" id= "form_year" name="year" value={{date.year}}>
        <input type="hidden" id="selsected_items" name="selsected_items" value="">

        <div class="modal fade" id="MeanEditModal" tabindex="-1" aria-labelledby="MeanEditModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="z-index: 1500">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="MeanEditModalLabel">意味を入力してください</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label id="mean-target-word" for="message-text" class="col-form-label">item.word:</label>
                        <textarea class="form-control" id="message-text" name="mean"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                        <button type="submit" class="btn btn-primary" name="action" value='update_mean' data-bs-dismiss="modal">確定</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="MenuCommonModal" tabindex="-1" aria-labelledby="MenuCommonModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="MenuCommonModalLabel">関数からセット</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label id="common-target-word" for="message-text" class="col-form-label">関数からセット</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                        <button type="submit" id="common-action" class="btn btn-primary" name="action" value='関数からセット' data-bs-dismiss="modal">確定</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="fixed-bottom w-100 bg-light">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#MenuCommonModal" value="delete_tweet" onclick="MenuCommonModalInit(this.value)">ツイート削除</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#MenuCommonModal" value="ip_restriction" onclick="MenuCommonModalInit(this.value)">IP制限</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#MenuCommonModal" value="session_restriction" onclick="MenuCommonModalInit(this.value)">session制限</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#MenuCommonModal" value="mean_init" onclick="MenuCommonModalInit(this.value)">意味初期化</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#MeanEditModal" onclick="MeanEditModalInit()">意味編集</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#MenuCommonModal" value="delete_word" onclick="MenuCommonModalInit(this.value)">単語削除</button>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-sm" id="tabledata">
            <thead class="table-light">
                <tr>
                    <th scope="col"></th>
                    {% for i in captions %}
                    <th class="check-control-{{loop.index}}" scope="col">{{ i|e }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                {% set table_data = [item.action, item.word, item.mean, item.pre_mean, item.now_mean, item.created_at, item.tweet_log_state, item.tweet_log_action, item.ip_address, item.session_id] %}
                <tr>                    
                    <td>
                        <input class="check_items" type="checkbox" value="{{item.id}}">
                    </td>
                    {% for table_item in table_data %}
                        <td class="text-break check-control-{{loop.index}}" style="max-width: 200px">{{ table_item }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function GetAllCheckBox() {
            var target_elements = document.getElementsByClassName("check_items");
            console.log(target_elements);
            var ret = [];
            let list_data = {{ data | tojson  }};
            console.log(list_data);
            for( var i = 0; i < target_elements.length; i++ ){
                console.log(target_elements[i].checked);
                if( target_elements[i].checked ) {
                    ret.push(target_elements[i].value);
                }
            }
            return ret
        }

        function MenuCommonModalInit(value) {
            var element = document.getElementById("common-target-word");
            element.innerHTML = GetAllCheckBox();
            var element = document.getElementById("common-action");
            console.log(value);
            element.value = value;
            var element = document.getElementById("MenuCommonModalLabel");
            if( value == "delete_tweet" ) {
                element.innerHTML = "ツイート削除";
            }
            else if( value == "ip_restriction" ) {
                element.innerHTML = "IP制限";
            }
            else if( value == "session_restriction" ) {
                element.innerHTML = "session制限";
            }
            else if( value == "mean_init" ) {
                element.innerHTML = "意味初期化";
            }
            else if( value == "delete_word" ) {
                element.innerHTML = "単語削除";
            }
        }

        function MeanEditModalInit() {
            var element = document.getElementById("mean-target-word");
            element.innerHTML = GetAllCheckBox();
        }

        function doPreSubmit() {
            var element = document.getElementById("selsected_items");
            console.log(element);
            var target_elements = document.getElementsByClassName("check_items");
            console.log(target_elements);
            element.value = GetAllCheckBox();
            console.log(element.value);
        }


        function myfunc(value, index) {
            var element = document.getElementById("tabledata");
            var target_elements = element.getElementsByClassName("check-control-"+index);
            for( var i = 0; i < target_elements.length; i++  ){
                target_elements[i].style.display = value ? "" : "none"
            }
        }
    </script>
{% endblock %}