{% extends "base.html" %} {% block head %}
{% endblock %}

{% block nav_ng_regex %}
active
{% endblock %}

{% block content %}

<form class="row" action=/admin/ng_regex method="POST">
  <div class="col-auto">
    <input type="text" class="form-control" id="input_text" placeholder="NGワード追加" name="input">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary" name="action" value='add_ng'>追加</button>
  </div>
</form>

<div class="table-responsive">
    <table class="table table-hover table-sm" id="tabledata">
        <thead class="table-light">
            <tr>
                <th scope="col">単語</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>
                    {{item}}
                </td>
                <td>
                    <form action=/admin/ng_regex method="POST">
                        <input type="hidden" name="input" value="{{item}}">
                        <button type="submit" class="btn btn-danger" name="action" value='delete_ng'>削除</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
</div>

{% endblock %}
