{% extends "base.html" %} {% block head %}
{% endblock %}

{% block nav_tweet_log %}
active
{% endblock %}

{% block content %}

<div>
    <form action = /admin/tweet_log method = "POST">
        <input type="hidden" name="next_key" value="{{data.next_key}}">
        <input type="hidden" name="now_key" value="{{data.now_key}}">
        <input type="hidden" name="selsected_items" value="">
        <button type="submit" class="btn btn-primary" name="action" value="">更新</button>
    </form>
</div>

<form action = /admin/tweet_log method = "POST" enctype="multipart/form-data" onsubmit="doPreSubmit()">
    <input type="hidden" name="next_key" value="{{data.next_key}}">
    <input type="hidden" name="now_key" value="{{data.now_key}}">
    <input type="hidden" id="selsected_items" name="selsected_items" value="">

    <div class="modal fade" id="TweetDeleteModal" tabindex="-1" aria-labelledby="TweetDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TweetDeleteModalLabel">ツイートを削除してもよろしいですか？</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label id="tweet-delete-word" for="message-text" class="col-form-label">item.word:</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn btn-primary" name="action" value='delete_tweet' data-bs-dismiss="modal">確定</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="TweetForceModal" tabindex="-1" aria-labelledby="TweetForceModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TweetForceModalLabel">強制的にツイートしてもよろしいですか？</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label id="tweet-force-word" for="message-text" class="col-form-label">item.word:</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn btn-primary" name="action" value='force_tweet' data-bs-dismiss="modal">確定</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form class="fixed-bottom w-100 bg-light" action = /admin/tweet_log method = "POST" enctype="multipart/form-data" onsubmit="doPreSubmit()">
    <input type="hidden" name="next_key" value="{{data.next_key}}">
    <input type="hidden" name="now_key" value="{{data.now_key}}">
    <button type="submit" class="btn btn-secondary" name="action" value='fitst'>最初</button>
    <button type="submit" class="btn btn-secondary" name="action" value='next'>次</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#TweetDeleteModal" onclick="TweetDeleteModalInit()">ツイート削除</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#TweetForceModal" onclick="TweetForceModalInit()">強制ツイート</button>
</form>

<div>
    {% set captions = ['message', 'state', 'action', 'created_at', 'session', 'ip'] %}

    {% for caption in captions %}
    <div class="form-check-inline">
        <input class="form-check-input" type="checkbox" value="" onchange="myfunc(this.checked, '{{loop.index}}')" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
            {{ caption }}
        </label>
    </div>
    {% endfor %}
    
    <div class="table-responsive">
        <table class="table table-hover table-sm" id="tabledata">
            <thead class="table-light">
                <tr>
                    <th scope="col"></th>
                    {% for i in captions %}
                    <th class="check-control-{{loop.index}}" scope="col">{{ i|e }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in data.doc %}
                {% set table_data = [item.message, item.state, item.action, item.created_at, item.session_id, item.ip_address] %}
                <tr>
                    <td>
                        <input class="check_items" type="checkbox" value="">
                    </td>
                    {% for table_item in table_data %}
                        <td class="text-break check-control-{{loop.index}}" style="max-width: 200px">{{ table_item }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>    
    </div>
</div>

<script>
    function GetAllCheckBox() {
        var target_elements = document.getElementsByClassName("check_items");
        console.log(target_elements);
        var ret = [];
        let list_data = {{ data.ref | tojson }};
        console.log(list_data);
        for( var i = 0; i < target_elements.length; i++ ){
            console.log(target_elements[i].checked);
            if( target_elements[i].checked ) {
                ret.push(list_data[i]);
            }
        }
        return ret
    }

    function TweetDeleteModalInit() {
        var element = document.getElementById("tweet-delete-word");
        element.innerHTML = GetAllCheckBox();
    }

    function TweetForceModalInit() {
        var element = document.getElementById("tweet-force-word");
        element.innerHTML = GetAllCheckBox();
    }

    function doPreSubmit() {
        var element = document.getElementById("selsected_items");
        console.log(element);
        var target_elements = document.getElementsByClassName("check_items");
        console.log(target_elements);
        element.value = GetAllCheckBox();
        console.log(element.value);
    }

    function myfunc(value, index) {
        var element = document.getElementById("tabledata");
        var target_elements = element.getElementsByClassName("check-control-"+index);
        for( var i = 0; i < target_elements.length; i++  ){
            target_elements[i].style.display = value ? "" : "none"
        }
    }
</script>
{% endblock %}
